{% ckan_extends %}

{% import "macros/form.html" as form %}

{# Note: 
Remove 'free extras' from the package form. If you're using convert_{to/from}_extras() as we are 
with our 'music_description' field below then you need to remove free extras from the form, or editing 
your custom field won't work!! 
#}
{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields %}

  {% for field_id, field_attributes in h.dataset_extra_fields %}
    {% if field_attributes['hidden'] != True and field_attributes['field_group'] not in ['licence', 'maintainer'] %}
        {% if field_id == 'category' %}
          {{ form.select(field_id,
            label=_(field_attributes['label']), id='field-' + field_id,
            options = h.group_list(),
            selected = data.get(field_id, None),
            attrs = { 'data-module': 'no-autocomplete' },
            error=errors.get(field_id),
            is_required=true)
          }}
        {% elif field_attributes['field_type'] and field_attributes['field_type'] == 'date' %}
          {{ form.input(field_id,
            label=_(field_attributes['label']), id='field-' + field_id,
            placeholder=_('YYYY-MM-DD'),
            value=data.get(field_id),
            error=errors.get(field_id),
            classes=['control-small calendar'],
            is_required=field_attributes['required']|default(false))
          }}
        {% elif field_attributes['field_type'] and field_attributes['field_type'] == 'yes_no' %}
          {{ form.select(field_id,
            label = _(field_attributes['label']),
            options = h.yes_no_options(),
            selected = data.get(field_id, None),
            attrs = { 'data-module': 'no-autocomplete' },
            error=errors.get(field_id),
            is_required=field_attributes['required']|default(false))
          }}
        {% elif field_attributes['field_type'] and field_attributes['field_type'] == 'select' %}
          {{ form.select(field_id,
            label = _(field_attributes['label']),
            options = field_attributes['options'],
            selected = data.get(field_id, None),
            attrs = { 'data-module': 'no-autocomplete' },
            error=errors.get(field_id),
            is_required=field_attributes['required']|default(false))
          }}
        {% elif field_id == 'workflow_status_notes'  %}
            {% if h.is_admin(data.get('owner_org', None)) %}
                {{ form.textarea(field_id,
                    label = _(field_attributes['label']),
                    value=data.get(field_id),
                    error=errors.get(field_id),
                    classes=['control-medium'])
                }}
            {% endif %}
        {% elif field_attributes['field_type'] and field_attributes['field_type'] == 'textarea' %}
          {{ form.textarea(field_id,
            label = _(field_attributes['label']),
            value=data.get(field_id),
            error=errors.get(field_id),
            classes=['control-full'],
            is_required=field_attributes['required']|default(false))
          }}
        {% elif field_id == 'workflow_status'  %}
          {{ form.select(field_id,
            label = _(field_attributes['label']),
            options = h.workflow_status_options(data.get(field_id, None), data.get('owner_org', None)),
            selected = h.autoselect_workflow_status_option(data.get(field_id, 'draft')),
            attrs = { 'data-module': 'no-autocomplete' })
          }}
        {% elif field_id == 'organization_visibility'  %}
          {{ form.select(field_id,
            label = _(field_attributes['label']),
            options = h.organization_visibility_options(),
            selected = data.get(field_id, None),
            attrs = { 'data-module': 'no-autocomplete' })
          }}
        {% else  %}
          {{ form.input(field_id,
            label=_(field_attributes['label']), id='field-' + field_id,
            placeholder=_(field_attributes['label']),
            value=data.get(field_id),
            error=errors.get(field_id),
            classes=['control-medium'],
            is_required=field_attributes['required']|default(false))
          }}
        {% endif %}
        {% if field_attributes['description'] %}
        <small>{{ field_attributes['description'] }}</small>
        {% endif %}
    {% endif %}
  {% endfor %}

  {% block package_metadata_fields_url %}
  {% endblock %}

  {% block package_metadata_author %}
  {% endblock %}

  {% block package_metadata_fields_version %}
  {% endblock %}


  {% block package_metadata_fields_maintainer %}
    {% if c.controller == 'package' and c.action == 'edit' %}
        {{ form.input('data_owner', label=_('Data Owner'), id='field-data-owner', value=data.data_owner, error=errors.data_owner, classes=['control-medium']) }}
    {% endif %}

    {{ form.input('maintainer', label=_('Data Custodian'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}
      {{ form.input('role',
        label=_('Role'), id='field-role',
        placeholder=_('Role'),
        value=data.get('role'),
        error=errors.get('role'),
        classes=['control-medium'])
      }}

    {{ form.input('maintainer_email', label=_('Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email|default(tmpl_context.userobj.email), error=errors.maintainer_email, classes=['control-medium']) }}
  {% endblock %}

  {#
    {{ super() }}
  #}

  {% resource 'ckanext-datavicmain/jquery-ui.js' %}
  {% resource 'ckanext-datavicmain/jquery-ui.css' %}
  {% resource 'ckanext-datavicmain/jquery-ui.structure.css' %}
  {% resource 'ckanext-datavicmain/datavicmain.js' %}

{% endblock %}
