{% ckan_extends %}

{#

Add widgets for our basic custom (extension-specific) fields

#}

{% block package_basic_fields_license %}

  {{ super() }}

  {{ form.input('licensing_other', 
        label=_('Licensing - other'), id='field-licensing_other', 
        placeholder=_('Licensing - other'), 
        value=data.get('licensing_other'), 
        error=errors.get('licensing_other'), 
        classes=['control-medium']) 
  }}

{% endblock %}

{% block package_metadata_fields_visibility %}
  <div class="control-group">
    <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
    <div class="controls">
      <select id="field-private" name="private" {% if data.get('workflow_status') != 'published' %}disabled="true"{% endif %}>
        {% for option in [('True', _('Private')), ('False', _('Public'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% resource 'ckanext-datavicmain/workflow-internal-public.js' %}
{% endblock %}

{% block package_basic_fields_custom %}

  {{ super() }}

{% endblock %}
