{% ckan_extends %}

{#

Add widgets for our basic custom (extension-specific) fields

#}

{% block package_basic_fields_license %}

  {{ super() }}

  {{ form.input('licensing_other', 
        label=_('Licensing - other'), id='field-licensing_other', 
        placeholder=_('Licensing - other'), 
        value=data.get('licensing_other'), 
        error=errors.get('licensing_other'), 
        classes=['control-medium']) 
  }}

{% endblock %}

{% block package_basic_fields_custom %}

  {{ super() }}

  {#{ form.input('music_title', 
        label=_('Music Title'), id='field-music_title', 
        placeholder=_('a wonderfull piece of music'), 
        value=data.get('music_title'), 
        error=errors.get('music_title'), 
        classes=['control-medium']) 
  }#}

{% endblock %}
