{% extends "admin/base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

<div id="datastore_config">
  <form action="" method="post" class="form-horizontal">
    <h3> Configure  dataset datastore refresh </h3>

    {{ errors }}
    {% set datastore_refresh_configs = h.get_datastore_refresh_configs() %}
    {% set dataset_attrs ={'data-module': 'autocomplete', 'data-module-dataset': '', 'data-module-source': '/api/2/util/dataset/autocomplete?incomplete=?'} %}
    
    {{ form.input(
      'dataset', 
      id='fieald-datasets', 
      label=_('Dataset'), 
      value="", 
      error="", 
      classes=['control-full'], 
      attrs=dataset_attrs)}}

    {{ form.select(
      'frequency',
      id='frequency',
      label=_('Frequency'),
      selected=" ",
      options = h.get_frequency_options(),
      error=errors if errors else None
    ) }}

    <button class="btn btn-primary">Add</button>


<div class="table">
    <small>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Dataset</th>
          <th>Frequency</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for refresh_config in datastore_refresh_configs %}
        <tr>
          <td> {{ refresh_config.dataset_id }} </td>
          <td> {{ refresh_config.frequency }} </td>
          <td> <button type="submit" name="delete_config" value="{{refresh_config.id}}"> Delete</button> </td>
        {% endfor%}
      </tbody>
    </table>
      </small>
</div>

  </form>
</div>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Administer CKAN') }}
    </h2>
    <div class="module-content">

      {% set docs_url = "http://docs.ckan.org/en/{0}/sysadmin-guide.html".format(g.ckan_doc_version) %}
      {% trans %}
        <p>As a sysadmin user you have full control over this CKAN instance. Proceed with care!</p>
        <p>For guidance on using sysadmin features, see the CKAN  <a href="{{ docs_url }}" target="_blank">sysadmin guide</a></p>
      {% endtrans %}
    </div>
  </div>

{% endblock %}