{% ckan_extends %}

{% block page_primary_action %}
  {{ super() }}
  {% if h.check_access('user_dashboard_reports') %}
    <a href="{{ h.url_for('organisation_member_report') }}" class="btn btn-primary">
      <i class="fa fa-table"></i>
      Member report
    </a>
  {% endif %}
{% endblock %}


{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My Organizations') }}</h2>
  {% set organizations = h.organizations_available('manage_group') %}
  {% if organizations %}
    <div class="wide">
      {% snippet "organization/snippets/organization_list.html", organizations=organizations %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any organizations.') }}
      {% if h.check_access('organization_create') %}
        {% link_for _('Create one now?'), controller='organization', action='new' %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}