{% import 'macros/form.html' as form %}

{# this snippet is meant to be called from workflow.html,
not used as a form_snippet directly #}
{% macro _workflow_status() %}
  {% set existing_workflow_status = data.workflow_status %}
  {% call form.input_block('field-workflow-status',
    label=h.scheming_language_text(field.label),
    error=errors[field.field_name],
    is_required=workflow_required,
    classes=['form-group', 'control-medium'],
    extra_html=caller() if caller,
    ) %}
    <div {{
      form.attributes(field.form_attrs) if 'form_attrs' in field else '' }}>
    <select id="field-workflow-status" name="workflow">
      {% for workflow_status in workflow_available %}
        {% set selected_workflow_status = existing_workflow_status == workflow_status %}
        {{ workflow_option_tag(workflow_status, selected_workflow_status) }}
      {% endfor %}
    </select>
    </div>
  {% endcall %}
{% endmacro %}

{% call _workflow_status() %}
  {%- snippet 'scheming/form_snippets/help_text.html', field=field %}
{% endcall %}