{% extends "package/read_base.html" %}


{% block package_description %}
  {{ super() }}

  {%- for field in h.dataset_extra_fields(pkg.get('type')) -%}
    {% if pkg.get(field.get('name')) %}
      <section id="dataset-{{ field_id }}" class="resources module-content">
        <p><strong>{{ _( field.get('label') ) }}</strong>: {{ pkg.get(field.get('name')) }}</p>
      </section>
    {% endif %}
  {% endfor %}

{% endblock %}

{% block primary_content_inner %}
  {% block package_resources %}

        {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, historical=true %}

  {% endblock %}
{% endblock %}